<%- include('partials/head') %>


  <h1 class="my-3">Mon profil sur O'quiz</h1>

<!-- const user = {
  name: 'laurent',
  age: 27
}

const userString = JSON.stringify(user);

console.log(userString);

const userObj = JSON.parse(userString);

console.log(userObj); -->
<% if (locals.user) { %>

  <label class="form-label h4" for="firstname">Prénom</label>
  <input class="form-control mb-4" type="text" disabled id="firstname" value="<%= user.firstname %>">

  <label class="form-label h4" for="lastname">Nom</label>
  <input class="form-control mb-4" type="text" disabled id="lastname" value="<%= user.lastname %>">

  <label class="form-label h4" for="email">Email</label>
  <input class="form-control mb-4" type="text" disabled id="email" value="<%= user.email %>">
<% } else { %>
  <a href="/">Retour page d'accueil</a>
<% }%>


  <!--  Include headers here -->
<%- include('partials/footer') %>
